@import "./global.module.scss";
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 300;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.222);
  }
  .component {
    width: 90%;
    max-width: 470px;
    min-height: 300px;
    background-color: #fff;
    z-index: inherit;
    border-radius: 15px;
    padding: 20px;
  }
}
