@import "./global.module.scss";

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  border-top: 1px solid #eaeaea;
  background-color: #ffffffa2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
